@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@200;400;700&family=Fira+Sans&family=IBM+Plex+Sans&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Lexend+Deca&family=Manrope:wght@600;800&family=Montserrat&family=Poppins:ital,wght@0,700;1,400;1,800&family=Red+Hat+Text:wght@700&family=Roboto+Mono:wght@700&family=Space+Mono:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=DM+Serif+Display&family=Epilogue:wght@200;400;700&family=Fira+Sans&family=IBM+Plex+Sans&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Lexend+Deca&family=Manrope:wght@600;800&family=Montserrat&family=Poppins:ital,wght@0,700;1,400;1,800&family=Red+Hat+Text:wght@700&family=Roboto+Mono:wght@700&family=Space+Mono:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 4rem;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 9rem;
}

.navBar{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navBar li{
    list-style: none;
}

.navBar a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    color:hsl(273, 4%, 51%);
    font-weight: 400;
}

.navBar a:hover{
    color: black;
}

.plans{
    font-family: 'Karla', sans-serif;
    font-size: .9rem;
    border: 2px solid black;
    padding: .4rem 1.2rem;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}

.plans:hover{
    background-color: black;
    color:white;
}

.section{
    width: 100%;
    height: 100px;
}

.hero-section{
    height: 500px;
    width: 100%;
    background-color:hsl(256, 26%, 20%);
    position: relative;
}

.bg-pattern{
    background-image: url("images/bg-pattern-intro-right-desktop.svg");
    height:500px;
    width: 400px;
    background-repeat: no-repeat;
    position: absolute;
    left: 59.3rem;
    top: 5px;
}

.bg-pattern-left img{
    height:500px;
    width: 150px;
    background-repeat: no-repeat;
    position: absolute;
    top: 380px;
}

.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.intro-heading{
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
    color: hsl(0, 0%, 98%);
    font-size: 3rem;
    max-width: 350px;
    position: relative;
}

.intro-heading::before{
    content: "";
    width: 130px;
    height: 1px;
    background-color:hsl(0, 0%, 98%);
    position: absolute;
    left: 0;
    top: -55px;
}

#intro-para{
    max-width: 420px;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;    
    font-weight: 400;
    color: hsl(0, 0%, 98%);
    word-spacing: 1px;
}

#intro-btn{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: .9rem;
    border: 1px solid hsl(0, 0%, 98%);
    padding: .4rem 1.2rem;
    color:hsl(0, 0%, 98%);
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;   
    max-width: 130px;
}

#intro-btn:hover{
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
}

.left-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.right-content{
    width: 500px;
    height: 600px;
}

.img img{
    margin-top: 90px;
}

.main {
    clear: both;
    padding-top: 199px;
    background-color:white;
    margin-top:650px;
}


.cards{
    display: flex;
    gap: 2.5rem;
}

.auto{
    max-width: 80%;
    margin: 0px auto;
}

.card{
    margin-top: 2rem;
    width: 330px;
    height: 200px;
}

.heading{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;   
    font-size: 3rem;
    position: relative;
}

.heading::before{
    content: "";
    width: 120px;
    height: 1px;
    background-color:hsl(270, 9%, 17%);
    position: absolute;
    left: 0;
    top: -50px;
}

.cards-para{
    font-family: 'Karla', sans-serif;
    color:hsl(273, 4%, 51%);
    font-weight: 400;   
    word-spacing: 1px;
}


.card-heading{
    margin-top: 20px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

.cards-para{
    margin-top: 15px;
}

.packages{
    padding: 6rem 0rem ;
}

.box{
    height: 200px;
    width: 1220px;
    background-color:hsl(256, 26%, 20%);   
    background-image: url("images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
}


.box-content{
    height: 200px;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#box-heading{ 
    color: hsl(0, 0%, 98%);
    max-width: 340px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 2.2rem;
}

.box-btn{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: .9rem;
    border: 1px solid hsl(0, 0%, 98%);
    padding: .4rem 1.2rem;
    color:hsl(0, 0%, 98%);
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;   
}

.box-btn:hover{
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
}

.footer{
    height: 350px;
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    background-image: url("images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
}

.first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.logos{
    display: flex;
    gap: 20px;
}

#line{
    margin-top: 20px;
}

.app-logos{
    cursor: pointer;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
}

.first{
    margin-top: 30px;
}

.f-text{
    font-family: 'Karla', sans-serif;
    color:hsl(273, 4%, 51%);
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 30px;

}

.f-links{
    list-style: none;
}

.f-links a{
    text-decoration: none;    
    font-family: 'Karla', sans-serif;
    color:hsl(273, 4%, 51%);
    font-weight: 800;
    text-transform: uppercase;
    color:hsl(256, 26%, 20%);
}